@mixin Repeatcode
{
        margin-top: 20px;
        width: 350px;
        height: 360px;
        float: left;
}
@mixin Repeatecode2
{
           margin-top: 70px;
            margin-left: 10px;
}
.main
{
    padding: 0px;
    font-weight: bold;
    font-size: 20px;
    width: 1062px;
    height:510px;
    border:1px solid black;
    p
    {
        margin: 0px;
        font-weight: bold;
        font-size: 25px;
    }
    &_section0
    {
        width: 980px;
        height: 130px;
        margin-left: 37px;
        p
        {
            margin-bottom: 10px;
            text-align: center;
            
        }
    }
    &_section1
    {
        @include Repeatcode;
        p
        {
            margin: 0px;
            padding: 0px;
         font:normal 13px arial;
         width: 300px;
        }
        hr
         {
            @include Repeatecode2;
            width: 90%;
         }
         
        
    }
    &_section2
    {
       @include Repeatcode;
        p
        {
            margin: 0px;
            padding: 0px;
         font:normal 13px arial;
         width: 350px;
        }
        hr
         {
            @include Repeatecode2;
            margin-bottom: 10px;
            width: 90%;
         }
         
    }
    &_section3
    {
        @include Repeatcode;
        padding-left: 10px;
    }
    hr
    {
       @include Repeatecode2;
       
    }
}
